name: Build EXE

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller
        # Toto nainštaluje knižnice z requirements.txt
        if (Test-Path test/requirements.txt) { pip install -r test/requirements.txt }

    - name: Build EXE
      run: |
        # Prejdeme do priečinka, kde je kód
        cd test
        # Spustíme PyInstaller
        pyinstaller --onefile --windowed --name "CasinoHra" main.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Windows-Executable
        path: test/dist/CasinoHra.exe
